# 🔧 Ignorar todo excepto las carpetas visibles en el repositorio

# Carpetas que no se subirán
01_Data/
02_src/
04_.gitignore/
env/

# Archivos generados automáticamente
__pycache__/
*.pyc
*.log

# Archivos específicos de VSCode y Jupyter Notebook
.vscode/
.ipynb_checkpoints/

# Archivos temporales y caché del sistema
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
desktop.ini

# Ignorar todos los CSV (datos originales)
*.csv